[submodule "packages/ms-company"]
	path = packages/ms-company
	url = https://github.com/wnqueiroz/fiap-startup-one-ms-company
	branch = main
[submodule "packages/ms-appointment"]
	path = packages/ms-appointment
	url = https://github.com/wnqueiroz/fiap-startup-one-ms-appointment
	branch = main
[submodule "packages/ms-user"]
	path = packages/ms-user
	url = https://github.com/wnqueiroz/fiap-startup-one-ms-user
	branch = main
